@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  overflow: hidden;
}

.app-wrapper {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=3a24ca&c2=fd173a&gt=r&gd=dtl
*/
  // background: #3a24ca;
  // background: radial-gradient(at left top, #3a24ca, #fd173a);
}

body {
  margin: 0;
  // overflow-y: auto;
}
* {
  font-family: 'Poppins', sans-serif;
  // ::-webkit-scrollbar {
  //   width: 10px;
  //   border: 1px solid #292d3222;
  // }

  /* Track */

  // /* Handle */
  // ::-webkit-scrollbar-thumb {
  //   background: #292d32;
  //   height: 5px;
  //   width: 10px;
  // }
}

body::-webkit-scrollbar,
.scrollBar::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track,
.scrollBar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(185, 185, 185, 0.3);
}

body::-webkit-scrollbar-thumb,
.scrollBar::-webkit-scrollbar-thumb {
  background-color: #292d32;
  height: 50px;
}
.remove-scrollbar {
  -ms-overflow-style: none !important; /* IE + Edge */
  scrollbar-width: none !important; /* Firefox */
}
.fixed-height {
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  min-height: calc(100vh - 64px);
}
.scroll-to-bottom-wrapper > div:first-child {
  -ms-overflow-style: none !important; /* IE + Edge */
  scrollbar-width: none !important;
}
.scrollable-content {
  overflow-y: auto; /* This will allow individual sections to scroll */
}

.fixed-height-scroll {
  min-height: calc(
    100vh - 64px
  ); /* Adjust to viewport height minus the navbar */
  overflow-y: auto; /* Allow scrolling within the container */
}

// .componentsScrollBar::-webkit-scrollbar {
//   -webkit-appearance: none;
//   width: 50px;
//   height: 8px;
// }

// .componentsScrollBar::-webkit-scrollbar-track {
//   border-radius: 20px;
//   background: green;
// }

// .componentsScrollBar::-webkit-scrollbar-thumb {
//   border-radius: 4px;
//   background-color: red;
// }

::selection {
  color: white;
  background: blue;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transition: transform 0.8s;
  height: 100vh;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

button.opacity-disabled,
button.isDisabled {
  opacity: 1 !important;
  background: transparent;
  color: gray;
  cursor: not-allowed !important;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png)
    no-repeat;
  width: 20px;
  height: 20px;
  border-width: thin;
}

input[type='date']::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  border-width: thin;
}
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 5%;
}
input::-webkit-datetime-edit-fields-wrapper {
  position: relative;
  left: 10%;
}
input::-webkit-datetime-edit {
  position: relative;
  left: 10%;
}

// input::placeholder {
//   color: #292d32 !important;
//   opacity: 0.5;
//   font-style: italic;
// }

.app-select {
  span {
    color: #292d32 !important;
    opacity: 0.5;
    font-style: italic;
    font-weight: 300;
  }
  span:has(> div) {
    opacity: 1;
    font-style: normal;
    font-weight: 300;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-bottom: 2px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.recharts-legend-item-text {
  color: #292d32 !important;
}

.recharts-default-legend {
  text-align: left !important;
}

.markdown-table-container table {
  border-collapse: collapse;
  width: 100%;
}

.markdown-table-container th,
.markdown-table-container td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.markdown-table-container th {
  background-color: #f2f2f2;
}

.markdown-table-container {
  pre {
    border-radius: 1rem;
  }
}

.loading05 {
  perspective: 1000px;
  span {
    transform-origin: 50% 50% -25px;
    transform-style: preserve-3d;
    animation: loading05 1.6s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}

.loading03 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  span {
    margin: 0 -0.075em;
    animation: loading03 0.7s infinite alternate;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.settingHistoryTable {
  height: 100%;
}

.settingHistoryTable div:first-child {
  display: flex !important;
  justify-content: space-between !important;
}

@keyframes loading03 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.codeBlock {
  pre {
    padding: 8px !important;
  }
}

.custom-row-chart-wrapper {
  display: flex;
  height: 233px !important;
  align-items: center;
  justify-content: space-between;

  .recharts-legend-wrapper {
    position: static !important;
  }
}

@media (max-width: 767px) {
  .chartsHeight {
    height: 473px;
  }
}

// @media (max-width: 480px) {
//   .layoutHeight {
//     height: calc(68vh - 56px) !important;
//   }
// }

@media (max-width: 1024px) {
  .layoutHeight {
    height: 100%;
  }
}

// @media (min-width: 481px) and (max-width: 768px) {
//   .layoutHeight {
//     height: calc(72vh - 56px) !important;
//   }
// }

@media (max-width: 639px) {
  .mobile-row-chart {
    .recharts-legend-wrapper {
      .recharts-default-legend {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.custom-date-picker {
  button {
    padding: 8px;
  }
  .dow {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.recharts-legend-wrapper {
  display: flex;
  justify-content: center;

  .recharts-default-legend {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (max-width: 426px) {
  input[type='color'],
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  select:focus,
  textarea {
    font-size: 16px;
  }
}

.w-screen:has(.centerModalOnMobile) {
  align-items: center !important;
}
// .feedBackTextArea textarea::placeholder {
//   transform: translateY(40px);
// }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .chat-wrapper {
    height: calc(100vh - 184px);
  }
}
@media (max-width: 500px) {
  .pricing-tab {
    font-size: 10px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 400px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 1100px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 992px;
  }
}
.containerLg {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .containerLg {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .containerLg {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .containerLg {
    width: 1170px;
  }
}

.gradient-bg-with-keyframe {
  background: linear-gradient(167deg, #1c1c1c, #1a0376, #252525, #6c1bdb);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;
}

.gradient-bg {
  background: linear-gradient(167deg, #1c1c1c, #1a0376, #252525, #6c1bdb);
  background-size: 800% 800%;

  // background-image: linear-gradient(
  //   to left top,
  //   #6c1bdb,
  //   #5327b7,
  //   #412a93,
  //   #33286e,
  //   #29244a,
  //   #252142,
  //   #211d3b,
  //   #1d1a33,
  //   #1c1844,
  //   #1b1555,
  //   #190f66,
  //   #1a0376
  // );
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 90% 0%;
  }
  50% {
    background-position: 11% 100%;
  }
  100% {
    background-position: 90% 0%;
  }
}

.cardHover:hover .imageZoom {
  transform: scale(1.1);
}

.imageZoom {
  transition: transform 0.5s ease;
}
.theme-gradient {
  background: linear-gradient(90deg, #12b5de -30%, #7130c3 30%, #ff3bd4 90%);
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-gradient-secondary {
  background: linear-gradient(
    to right,
    var(--color-secondary-gradient-start),
    var(--color-secondary-gradient-end)
  );
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-gradient-tertiary {
  background: linear-gradient(
    to right,
    var(--color-tertiary-gradient-start),
    var(--color-tertiary-gradient-end)
  );
  text-transform: capitalize;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
